*{
	margin:0;
	padding:0;
	font-size:13px;
	color:#666666;
}

h3 {
	font-size:24px;
	color:#00F;
	font:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	margin:20px auto 20px;
	}

h4 {
	font-size:22px;
	color:#00F;
	font:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	margin:50px auto 20px;
	font-weight:bold;
	
	}

body{
	margin: 0px; 
	padding: 0px;
	background-color:#aaaaaa;
	background-image: url(../images/body_bg.gif)
}

#mainimg{
	height:300px;
	width:210px;
}

#container{
	width:1024px;
	margin:0 auto;
	padding:0;
	text-align:center;
	background-color:#ffffff;
}

.center{
	height:30px;
	text-align:center;
	line-height:30px;
}
#otamesi{
	width: 964px;
	margin: 30px;
}

#btn{
	margin: 20px;
}

#btn2{
	margin: 0;
}

/*--------------------------
main
--------------------------*/
#main_visual{
	margin-top:20px;
}

#maintitle{
	border-top:1px solid #090;
	border-bottom:1px solid #090;
	padding:10px 0;
}
	
#maintitle .title1{
	font-size: 35px;
	line-height: 40px;
	color: #090;
	text-align: center;
	margin: 20px 0 10px 0;
	font-weight: bold
}

#maintitle .title1 span{
	font-size: 25px;
	line-height: 25px;
	color: #333;
	font-weight: bold
}

#maintitle .title2{
	font-size: 32px;
	line-height: 45px;
	color: #090;
	text-align: center;
	margin: 0 0 15px 0;
	font-weight: bold
}

#maintitle .title3{
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	margin-bottom:20px;
	font-weight: bold
}

#maintitle .title3 span{
	font-size: 25px;
	line-height: 25px;
	color: #333;
	font-weight: bold;
}

#maintitle .text{
	font-size: 14px;
	line-height: 25px;
	color: #000;
	text-align: center;
	margin: 0
}

#main_visual2{
	margin-top:20px;
}

#maintitle2{
	padding-bottom:20px;
}	

#maintitle2 .title1{
	font-size: 35px;
	line-height: 40px;
	color: #090;
	text-align: center;
	margin: 0 0 10px 0;
	font-weight: bold
}

#maintitle2 .title1 span{
	font-size: 25px;
	line-height: 25px;
	color: #333;
	font-weight: bold
}

#maintitle2 .title2{
	font-size: 32px;
	line-height: 45px;
	color: #090;
	text-align: center;
	margin: 0 0 15px 0;
	font-weight: bold
}

#maintitle2 .title3{
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	margin-bottom:20px;
	font-weight: bold
}

#maintitle2 .title3 span{
	font-size: 25px;
	line-height: 25px
	;
	color: #333;
	font-weight: bold
}

#maintitle2 .title4{
	font-size: 35px;
	line-height: 40px;
	color: #090;
	text-align: center;
	margin: 70px 0 10px 0;
	font-weight: bold;
	text-decoration:underline overline;
}

#maintitle2 .text{
	font-size: 20px;
	line-height: 40px;
	color: #000;
	text-align: center;
	margin-top: 30px;
}

#maintitle2 .text b{
	font-size: 32px;
	line-height: 60px;
	font-weight: bold;
	color: #333;
}

#maintitle2 .text span{
	font-size: 26px;
	line-height: 40px;
	font-weight: bold;
	color: #090;
}

#maintitle2 .text strong{
	font-size: 26px;
	line-height: 30px;
	font-weight: bold;
	color: #090;
}

/*--------------------------
Ranking
--------------------------*/

#ranking{
	margin:0 auto;
	padding:0;
	float:left;
	background-color:#ffffff;
}

#rankingTbl{
	width:300px;
	padding-left:10px;
	font-size:16px;
	text-align:left;
}

#rankingTbl th{
	whide:30px;
	margin-right:10px;
}

#rankingTbl td{
	font-size:16px;
}

#ranking a{
	font-size:16px;
}

#ranking1{
	width:308px;
	margin-left:30px;
	float:left;
}

#ranking1_img{
	background-image:url(../images/ranking1.gif);
	width:308px;
	height:53px;
	text-align:center;
	font-size: 20px;
	line-height: 54px;
}

#ranking1 p{
	margin:0 20px 10px;
	float:left;
}

#ranking2{
	width:308px;
	margin-left:20px;
	float:left;
}

#ranking2_img{
	background-image:url(../images/ranking2.gif);
	width:308px;
	height:53px;
	text-align:center;
	font-size: 20px;
	line-height: 54px;
}

#ranking2 p{
	margin:0 20px 10px;
	float:left;
}

#ranking3{
	width:308px;
	margin-left:20px;
	float:left;
}

#ranking3_img{
	background-image:url(../images/ranking3.gif);
	width:308px;
	height:53px;
	text-align:center;
	font-size: 20px;
	line-height: 54px;
}

#ranking3 p{
	margin:0 20px 10px;
	float:left;
}

/*--------------------------
info
--------------------------*/
#info{
	width:295px;
	float:left;
	background-color:#ffffff;
}

#info h3{
	margin-left:25px;
	margin-bottom:10px;	
}

#info li{
	margin-left:15px;
	margin-bottom:10px;
}

#title1{
	font-size: 32px;
	line-height: 45px;
	color: #ff0000;
	text-align: center;
	font-weight: bold;
	padding:30px 0;
}
/*--------------------------
error
--------------------------*/

.error {
	color: #ff0000;
}