<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>フッター</title>
<link rel="stylesheet" type="ヘッダーフッター/css" href="css/hf.css" /> 
</head>

    <style type"=text/css">
	li{
		list-style=none;
	}
	</style>
    
<!--フッター-->
<div id="footer">
	<a href="#header" title>△トップページに戻る</a>

    <br/>
	<hr/>
	<li><a href="company.html">会社概要</a>
	&nbsp;&nbsp;<a href="convention.html">会員規約</a>
	&nbsp;&nbsp;<a href="question.html">よくある質問</a>
	&nbsp;&nbsp;<a href="mailform.html">お問い合わせ</a>
    </li>
    <br/>
	<address>&copy;Copyright2020 Music Life Agency Co.,Ltd.</address>
    </div>
    </html>
 